{
    "branches": [
        "main"
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        [
            "@semantic-release/release-notes-generator",
            {
              "preset": "conventionalCommits",
              "parserOpts": {
                "noteKeywords": [
                  "BREAKING CHANGE",
                  "BREAKING CHANGES",
                  "BREAKING"
                ]
              },
              "presetConfig": {
                "types": [
                  {
                    "type": "feat",
                    "section": "Features"
                  },
                  {
                    "type": "fix",
                    "section": "Bug Fixes"
                  },
                  {
                    "type": "docs",
                    "section": "Documentation"
                  },
                  {
                    "type": "chore",
                    "section": "Internal",
                    "hidden": false
                  },
                  {
                    "type": "refactor",
                    "section": "Internal"
                  },
                  {
                    "type": "ci",
                    "section": "Internal"
                  },
                  {
                    "type": "perf",
                    "section": "Performance"
                  }
                ]
              }
            }
          ],
        "@semantic-release/github"
    ]
}